/* css styles */


/* Forcer la hauteur du logo, indépendamment du texte */
.navbar .navbar-brand > img {
  height: 60px !important;    /* mets 60px si tu veux un logo encore plus grand */
  width: auto !important;
  max-height: none !important;
   margin-left: 0.5em;
  margin-right: 0.5em;
}


/* Optionnel : ajuster l’espace entre logo et titre */
.navbar .navbar-brand {
  gap: .10rem;
}

.job-card {
  margin-bottom: 1.5em;
  padding-left: 0.5em;
}

.job-meta {
  font-style: italic;
  color: #555;
  margin-bottom: 0.4em;
}

.job-ref {
  font-size: 0.9em;
  color: #666;
}
